h1 {
    color: black;
    font-family: verdana;
    font-size: 80px;
}

p {
    color: green;
    font-family: verdana;
    font-size: 20px;
}

a {
    color: blue;
    font-family: verdana;
    font-size: 15px;
}