body {
    background-color: white;
}

h1 {
    font-family: montserrat;
    font-size: 80px;
    text-align: center;
}

h2 {
    font-family: montserrat;
    font-size: 40px;
    text-align: center;
}

p {
    color: green;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

a {
    background-color: black;
    color: white;
    font-family: verdana;
    font-size: 15px;
    text-align: center;
    border: 2px solid blue;
    padding: 5px;
    margin: 10px;
}

.projects {
    text-align: center;
}

#kul_stil {
    background-color: purple;
}