.navbar {
    background-color: #2C3E50;
    overflow: hidden;
    position: relative;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #f2f2f2;
    padding: 14px 16px;
    cursor: pointer;
    float: right;
}

body {
    background-color: #34495E;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding-bottom: 40px;
}

@media screen and (max-width: 600px) {
    main {
        max-width: 550px;
        margin: 10px auto;
    }
}

main .text-container .text {
    text-align: center;
}

main .text-container .text h1 {
    color: #ECF0F1;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    main .text-container .text h1 {
        color: #ECF0F1;
        font-family: sans-serif;
        font-size: 24px;
        text-align: center;
    }
}

main .text-container .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    main .text-container .socials {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
}

main .text-container .socials h2 {
    color: #ECF0F1;
    font-family: sans-serif;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    main .text-container .socials h2 {
        color: #ECF0F1;
        font-family: sans-serif;
        font-size: 14px;
        padding: 10px;
    }
}

main .text-container .socials .social {
    transition: transform 0.3s ease-in-out;
    margin-bottom: auto;
    margin-top: auto;
}

main .text-container .socials .social:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .text-container .socials .social img {
    width: 60px;
    height: 60px;
    display: block;
}

@media screen and (max-width: 600px) {
    main .text-container .socials .social img {
        width: 30px;
        height: 30px;
        display: block;
    }
}

main .text-container .about {
    display: flex;
    gap: 20px;
}

main .text-container .about img {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    main .text-container .about img {
        width: 50%;
        height: 50%;
        border-radius: 20px;
    }
}

main .text-container .about .about-text {
    display: flex;
    flex-direction: column;
}

main .text-container .about .about-text h2 {
    color: #ECF0F1;
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    main .text-container .about .about-text h2 {
        color: #ECF0F1;
        font-family: sans-serif;
        font-size: 15px;
        text-align: left;
    }
}

main .text-container .about .about-text p {
    color: #ECF0F1;
    font-family: sans-serif;
    font-size: 23px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    main .text-container .about .about-text p {
        color: #ECF0F1;
        font-family: sans-serif;
        font-size: 11px;
        text-align: left;
    }
}

main .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .projects-container .project {
    flex: 1 0 300px;
    background-color: #7F8C8D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

main .projects-container .project:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .projects-container .project h2 {
    color: #ECF0F1;
}

main .projects-container .project p {
    color: #ECF0F1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align: center;
    line-height: 10px;
}