on:
  push:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger webhook
        run: |
          curl -X POST "https://mathiasunneland.com/webhook" \
            -H "Authorization: Bearer ${{ secrets.WEBHOOK_TOKEN }}" \